<p>Fizzbuzz is an exercise dealing with division of numbers.</p>
<p>If a number is divisible by 3, you will see "Fizz" printed out.</p>
<p>If a number is divisible by 5, you will see "Buzz" printed out.</p>
<p>If it's divisible by both 3 and 5, you will see "FizzBuzz" printed out.</p>
<div>
  <input type="text" name="fizzbuzz" label="Choose A Number" />
  <input type="submit" name="fizzbuzz" />
</div>